body, html {
    height:100%;
    background-color: #fdfdfd;
}

.leftColumn {
    width: 50%;
    height: 100%;
    position: absolute;
    left:0px;
    top:0px;
}

.rightColumn {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0px; 
    top: 0px; 
}

.loginBox {
    margin-top:10%;
}

.inputBox {
    width:40%;
    padding-top:5%;
    display:inline-block;
    background-color:#fff;
    border: 1px solid rgb(228, 228, 228);
}

.boxes {
    text-align: center;
    margin-top:8%;
}

.button {
    padding: 7px;
    border-radius: 10px;
    width:87%;
    border: none;
    background-color: rgb(0, 149, 246);
    opacity:80%;
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    font-weight: 600;
    font-size: 13px;
    margin-top:5%;
    cursor: pointer;
}

.button:hover {
    opacity:100%;

}

#name {
    font-size:12px;
    border:1px solid  rgb(228, 228, 228);
    font-family: Arial, Helvetica, sans-serif;
    background-color:#fdfdfd;
    border-radius: 2px;
    padding:8px;
    margin:2px;
    width:80%;
}

#password{
    font-size:12px;
    border:1px solid rgb(228, 228, 228);
    font-family: Arial, Helvetica, sans-serif;
    background-color:#fdfdfd;
    border-radius: 2px;
    padding:8px;
    margin:2px;
    width:80%;
}

#saveInfo {    
    margin-top:6%;
}

label {
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img {
    height:50px;
    width:160px;
}

.logo {
    display: flex;
    justify-content:center;
}

.line {
    display:block;
    color:rgb(119, 119, 119);
    font-size:12px;
    text-transform:uppercase;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    margin-top: 6%;
    overflow: hidden;
}

.line:before, .line:after {
    content:"";
    display:inline-block;
    position: relative;
    vertical-align: middle;
    height:0.6px;
    width:30%;
    background:rgb(228, 228, 228);
}

.line:before {
    right: 2em;
    margin-left: -50%;
}
  
.line:after {
   left: 2em;
   margin-right: -50%;
}


.login img {
    object-fit:cover;
    height:15px;
    width:15px;
    margin-right:1%;
}

.login {
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    text-align:center;
    margin-top:10%;
    color:#385185;
}

a:visited {
    text-decoration:none;
    color: #385185;
}

a:link {
    text-decoration:none;
    color:#385185;
}

h3 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    text-align:center;
    color:#000;
    font-weight:100;
    margin-top:6%;
    margin-bottom:6%;
}

.signupBox {
    margin-top:1%;
    width:40%;
    padding-top:1%;
    padding-bottom:1%;
    display:inline-block;
    background-color:#fff;
    border: 1px solid rgb(228, 228, 228);
}

.signup {
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    text-align:center;
    justify-content:center;
    display:flex;
    font-weight:100;
}

.signup:link {
    color:#b3dbff;
}

.getapptext {
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    font-weight:100;
    text-align:center;
    width:40%;
    margin-top:2%;
}

.appButtons {
    display:flex;
    flex-direction:row;
    text-align: center;
    justify-items:center;
    align-items:center;
    margin-left:3%;
    gap:5px;
}

.appstore img, .googleplay img {
    object-fit:cover;
    width:130px;
    height:38px;
}

.leftColumn img {
    object-fit:cover;
    width:55%;
    height:75%;
}

.phone {
    margin-left:45%;
    margin-top:10%;
}

#imageFade {
    position:relative;
    z-index:1;
    object-fit:cover;
    margin-left:33%;
    margin-top:5%;
    height:74%;
    width:55%;
}

#backgroundImage {
    position:absolute;
    z-index:0;
}

.footer {
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    position:absolute;
    bottom:0;
    text-align:center;
    width:100%;
    height:10%;
}

.footerStyle {
    color: #828282;
    font-size:11px;
    font-weight:100;
    display:flex;
    justify-content:center;
    width:50%;
    margin:auto;
    gap:10px;
}

.footerStyle2 {
    color: #828282;
    font-size:11px;
    font-weight:100;
    display:flex;
    justify-content:center;
    width:50%;
    margin:auto;
    gap:10px;
}

#meta {
    color: #828282;
    font-size:11px;
    font-weight:100;
}

#dropdown {
    display:flex;
    align-items:center;
    margin:auto;
}

.footerStyle li {
    display:inline-block;
    padding:none;
    color: #828282;
}

.footerStyle {
    color: #828282;
    font-size: 11px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    gap: 10px;
}

ul.footerStyle {
    padding-inline-start:0px;
}

.footerStyle a {
    color: #828282;
}

#language {
    border:none;
    font-size:11px;
    color:#828282;
}

.secondFooterLine {
    justify-content:space-evenly;
    display:flex;
    align-items:center;
    margin:auto;
}

#signupLink {
    color: rgb(0, 149, 246);
}

/**ipad air*/
@media only screen and (max-width:820px){
.leftColumn {
    display:none;
}

.rightColumn {
    width:100%;
    height:100%;
    align-items:center;
}

.gettheapp {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

.signupBox {
    margin-bottom:0%;
    margin-left:30%;
}

.inputBox {
    margin-left:30%;
    margin-top:10%;
}

.footer {
    align-items:center;
    margin-left:auto;
    margin-right:auto;
    flex-wrap:wrap;
}

}


/**iphone XR*/
@media only screen and (max-width:414px){
    .leftColumn {
        display:none;
    }

    .rightColumn {
        width:100%;
        position:absolute;
    }

    .inputBox {
        width:100%;
        border:none;
        margin-top:0;
        margin-left:0;
    }

    .logo img {
        height:60px;
        width:200px;
        object-fit:cover;
    }

    .logo {
        margin-bottom:10%;
    }

    .boxes {
        width:100%;
        display:flex;
        flex-direction:column;
        margin:auto;
        align-items:center;
    }
    
    .login {
        width:100%;
        margin-bottom:0;
    }

    .inputBox {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        width:100%;
        margin:0;
    }

    .signupBox {
        border:none;
        margin-left:auto;
        margin-right:auto;
        margin-top:10%;
        margin-bottom:15%;
        width:100%;
        font-size:14px;
        margin-left:0;
    }

    .appButtons {
        width:100%;
        align-items:center;
        margin-left:5%;
    }
    
    .button {
        width:80%;
    }

    .getapptext {
        font-size:14px;
        align-items:center;
    }

    .appButtons {
        align-items:center;
        margin-left:35%;
    }

    .footer {
        width:100%;
        justify-content:center;
        align-items:center;
        flex-wrap:wrap;
        padding-right:10px;
    }
    
    .footerStyle {
        width:100%;
        justify-content:center;
        display:flex;
        flex-wrap:wrap;
    }
    
    .footerStyle2 {
        width:100%;
        justify-content:center;
        flex-wrap:wrap;
    }
}